/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #000000; /* Dark text for readability */
    text-align: center;
    padding: 50px 0;
}

/* Container Styling */
.container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
h1 {
    font-size: 1.5em;
    color: #4169E1; /* Green for a fresh, professional look */
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Textarea Styling */
textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.4em;
    background-color: #f7f7f7;
    color: #333;
    resize: none;
}

textarea:focus {
    border-color: #4682B4;
    outline: none;
    background-color: #ffffff;
}

/* Select Styling */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #f7f7f7;
    font-size: 1.1em;
    color: #333;
}

select:focus {
    border-color: #4682B4;
    outline: none;
}

/* Button Styling */
button {
    background-color: #4682B4; /* Green for action */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4169E1; /* Slightly darker green for hover effect */
}

/* Result Box Styling */
#result {
    margin-top: 30px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#result h2 {
    font-size: 1.5em;
    color: #4169E1;
    margin-bottom: 15px;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

footer p {
    margin-top: 10px;
    color: #777;
}

footer p:hover {
    color:  #4169E1;
    cursor: pointer;
}
