<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translation Tool</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Language Translation Tool</h1>
        <form method="POST" action="/">
            <textarea name="text" rows="4" cols="50" placeholder="Enter text to translate">{{ original_text }}</textarea><br><br>
            <label for="language">Select Language:</label>
            <select name="language">
                {% for code, language in languages.items() %}
                    <option value="{{ code }}" {% if code == request.form.language %}selected{% endif %}>{{ language }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">Translate</button>
        </form>

        {% if translated_text %}
            <div id="result">
                <h2>Here is translated text:</h2>
                <textarea rows="4" cols="50" readonly>{{ translated_text }}</textarea>
            </div>
        {% endif %}

        <footer>
            <p>© 2025 Language Translation App</p>
        </footer>
    </div>
</body>
</html>
